*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

img {
  max-inline-size: 100%;
}
body {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}
.header {
  grid-column: 2/4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: space-around;
}
.search {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
  padding: 0 2rem;
}

.search-bar {
  width: 40rem;
  height: 2rem;
  border-radius: 15px;
  background-color: #e1e8f1;
  border: none;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
  padding: 0 2rem;
  font-weight: 700;
}

.welcome-msg {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.msg span {
  display: block;
  font-size: 0.8rem;
}
.action-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
  padding: 0 2rem;
  font-weight: 700;
}
.action-btns > button {
  width: 6rem;
  height: 2.2rem;
  border-radius: 2rem;
  background-color: #1992d4;
  color: white;
  font-weight: 700;
  border: none;
  padding: 0 1rem;
}
.sidebar {
  background-color: #1992d4;
  grid-column: 1;
  grid-row: 1/3;
  color: white;
}
.content {
  background-color: #e1e8f2;
  grid-column: 2;
  grid-row: 2/4;
}

.side-content {
  background-color: #e1e8f2;
  grid-column: 3;
  grid-row: 2/4;
}
.sidebar > :nth-child(1) {
  font-size: 1.8rem;
}
.sidebar > div:not(:first-child) {
  font-size: 1.1rem;
  font-weight: 650;
}

.icons {
  width: 1.4em;
}

.action-icons {
  width: 1.4rem;
}
.imgs {
  width: 3em;
  border-radius: 5rem;
  height: 3em;
}
