*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
}
input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

img {
  max-inline-size: 100%;
}
body {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 0.9rem;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}
.header {
  grid-column: 2/4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: space-around;
}
.search {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
  padding: 0 2rem;
}

.search-bar {
  width: 40rem;
  height: 2rem;
  border-radius: 15px;
  background-color: #e1e8f1;
  border: none;
  padding: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
  padding: 0 2rem;
  font-weight: 700;
}

.welcome-msg {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.msg span {
  display: block;
  font-size: 0.8rem;
}
.action-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
  padding: 0 2rem;
  font-weight: 700;
}
.action-btns > button {
  width: 6rem;
  height: 2.2rem;
  border-radius: 2rem;
  background-color: #1992d4;
  color: white;
  font-weight: 700;
  border: none;
  padding: 0 1rem;
}
.sidebar {
  background-color: #1992d4;
  grid-column: 1;
  grid-row: 1/3;
  color: white;
  padding: 0.5rem 1.3rem;
  display: grid;
  grid-template-rows: 3rem repeat(2, 15rem);
  gap: 3.1rem;
  font-weight: 700;
}
.nav-elements,
.nav-tools {
  display: grid;
  row-gap: 15px;
  align-content: start;
}
.dashboard {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-elements > div,
.nav-tools > div {
  display: flex;
  gap: 20px;
}
.content {
  background-color: #e1e8f2;
  grid-column: 2;
  grid-row: 2/4;
  padding: 1.7rem 1.7rem;
}
.content > p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 200px;
  padding: 0.5rem 0;
  gap: 30px;
}
.projects {
  background-color: white;
  box-shadow: -8px 0px 1px #eab43d;
  border-radius: 8px;
  padding: 2rem 1.2rem;
  font-size: 1.1rem;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}
.projects > p {
  font-size: 0.9rem;
}
.icons-container {
  display: flex;
  gap: 20px;
}

.icons-container > button {
  margin-right: auto;
  width: 6rem;
  height: 2.2rem;
  border-radius: 2rem;
  background-color: #eab43d;
  color: white;
  font-weight: 700;
  border: none;
  padding: 0 1rem;
}
.side-content {
  background-color: #e1e8f2;
  grid-column: 3;
  grid-row: 2/4;
  padding: 1.7rem 1.4rem 1.7rem 0.8rem;
  display: grid;
  grid-template-rows: 29px 350px 29px 264px;
  grid-auto-columns: 1fr;
  gap: 8px;
}
.announcement-container {
  border-radius: 8px;
  background-color: white;
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.announcements {
  font-size: 0.7rem;
}
.announcement-container>:not(:last-child){
  border-bottom:1px solid black ;
  padding-bottom: 1.2rem;

}
.trend-container {
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.trends {
  display: flex;
  gap: 15px;
  font-size: 0.9rem;

}
.trends span {
  display: block;
}
.sidebar > :nth-child(1) {
  font-size: 1.6rem;
}
.sidebar > div:not(:first-child) {
  font-size: 1.1rem;
  font-weight: 650;
}

.icons {
  width: 1.2em;
}
.dashboard > .icons {
  width: 1.6em;
}
.action-icons {
  width: 1.2em;
}
.imgs {
  width: 3em;
  border-radius: 5rem;
  height: 3em;
}
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
